<h1>Editing <%="#{@user[:first_name]} #{@user[:last_name]}"%></h1>

<form action="/users/<%=@user[:id]%>/edit" method="post">
	<dt>
		<dt>First Name</dt>
		<dd></dd>
		<dt>Last Name</dt>
		<dd></dd>
		<dt>Email</dt>
		<dd></dd>
		<dt>Teams</dt>
		</dd></dd> <!-- TODO: Add list of teams here -->
	</dt>
</form>

