<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Improv Connect</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <nav>
      <a class="nav" href="#">Home</a>
      <a class ="nav" href="/users">Improvisers</a>
      <a class ="nav" href="/users">Teams</a>
      <a class="nav" href="#">Sign In</a>
    </nav>
    <header>
      <%= yield_content (:header) %> 
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <small>tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque</small>
      <br>
    </footer>
  </body>
</html>