<form action="/teams/new" method="post">
  <fieldset>
    <label for="name">Team Name</label>
    <input type="text" name="name" id="name" placeholder="Enter your team name." minlength="1">

    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="Enter a description of your team" minlength="1">

    <input type="submit" value="Add Team">
    <input type="reset" value="Clear Form">
  </fieldset>
</form>