<dl>
  <% @all_users.each do |user| %>
    <dt><%= user[:first_name]%> <%= user[:last_name]%></dt>
    <dd><%= user[:email]%></dd>
    <dd>
      <form action="/users/<%= user[:id] %>/delete" method="post">
        <input type="submit" value="Delete User">
      </form>
  <% end %>
</dl>

<a href="/users/new">Add a new user</a>